
@model IEnumerable<string>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Files</h2>

<ul>
    @foreach (var fileName in Model)
    {
        var name = fileName;
        var link = @Url.Content("~/Content/Files/") + name.Replace(" ", "%20");

        <li>
            <a href="@link">@name</a>
        </li>
    }
    
   
</ul>

<div> @using (Html.BeginForm("Index", "File", FormMethod.Post, new { enctype =
          "multipart/form-data" }))
      {
          <input type="File" name="file" id="file" value="Choose File" />
          <button type="submit">Upload</button>
      }
</div>

